.dogCards {
    display: grid;
    height: 95%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    align-content: space-around;
    justify-items: center;
}

.mainDiv {
    text-align: -webkit-center;
    display: flex;
    width: 100%;
    height: 90%;
}

.filterBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top:0px;
    left: 0px;
    padding: 0px 5px 0px 5px;
    height: 100%;
    width: 10%;
    background-color: hsla(32, 94%, 28%, 0.8);
}

.pageButton {
    background-color: hsl(32, 67%, 58%);
    border-radius: 20px;
    border: none;
    width: 30px;
}

.pageButton:hover {
    background-color:  hsl(32, 78%, 41%);
    color: white;
}

.pageButton:focus {
    background-color:  hsl(32, 78%, 41%);
    color: white;
}

.pageButtonActive {
    background-color:  hsl(32, 78%, 41%);
    color: white;
    border-radius: 20px;
    border: none;
    width: 30px;
}



.pageDiv {
    display: flex;
    flex-direction: row;
    height: 5%;
    align-items: center;
    justify-content: center;
}

.loading {
    position: relative;
    left: 50%;
    top: 10%;
    border-radius: 50px;
}

.dogsButton {
    background-color: hsl(32, 67%, 58%);
    border-radius: 20px;
    border: none;
    border-bottom: 3px solid hsl(32, 94%, 28%);
    border-right: 3px solid hsl(32, 94%, 28%);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5px 20px 5px 20px;
    margin: 0px 20px 2px 20px ;
    transition: all 0.1s;
}

.dogsButton:hover{
    background-color:  hsl(32, 78%, 41%);
    color: white;
}
.dogsButton:active{
    transform: translateY(2px)
    translateX(2px)
}

.dogsButtonPrev {
    width: max-content;
    margin: 0px;
    position: absolute;
    top: 11%;
    left: 30%
}
.dogsButtonNext {
    width: max-content;
    margin: 0px;
    position: absolute;
    top: 11%;
    right: 20%;
}

.pages {
    background-color: hsla(32, 67%, 58%, 0.8);
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
}

.inputSearch {
    width: 90%;
    margin-bottom: 20px;
}

.borderFilters{
    border: 1px solid black;
    height: max-content;
    border-radius: 5px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px
}

.dogsButtonSelect {
    background-color: hsl(32, 67%, 58%);
    border-radius: 20px;
    border: none;
    border-bottom: 3px solid hsl(32, 94%, 28%);
    border-right: 3px solid hsl(32, 94%, 28%);
    margin-top: 3px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: smaller;
    height: fit-content;
    padding: 5px 20px 5px 20px;
    transition: all 0.1s;
}

.dogsButtonSelect:hover{
    background-color:  hsl(32, 78%, 41%);
    color: white;
}
.dogsButtonSelect:active{
    transform: translateY(2px)
    translateX(2px)
}

.errorTemps {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5%;
    left: 0%;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
}

.errorTempsImg {
    border: 3px solid hsl(32, 94%, 28%);
    border-radius: 20px;
}

.errorTempsText {
    height: 20%;
    position: relative;
    width: 15%;
    top: -50%;
    left: -10%;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}