.divMain {
    height: 60%;
    justify-content: flex-start;
    margin-top: 2%; 
    text-align: -webkit-center;
}

.divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 2px solid black;
    border-radius: 30px;
    background-color: hsla(32, 64%, 38%, 0.9);
    width: 50%;
}

.imgDetail {
    width: 30%;
    height: 80%;
    border-radius: 20px;
    border: 1px solid black;
    margin: 2% 5% 0% 5%;
}